@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}
#root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
html {
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(45deg, rgb(0, 0, 0), #05151f);
}
body {
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Base section common header and footer for the application */
.main-page {
  color: white;
  min-height: 100vh;
  background-image: linear-gradient(45deg, rgb(0, 0, 0), #0f4464);
  padding: 1rem;
  display: grid;
  padding: 1rem 2rem 2rem 1rem;
  /* width: fit-content; */
  background-size: cover;
  background-position: center;
  align-content: space-between;
}
.base-section {
  grid-area: "body";
  display: flex;
  padding: 1rem;
  flex-flow: column;
  min-height: 100%;
}
.middle-section {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  min-height: 65.5%;
}
.base-header {
  grid-area: "header";
  text-align: center;
  color: white;
}
.footer {
  grid-area: "footer";
  text-align: center;
  color: white;
  margin-top: 1rem;
}
.footer h4 {
  margin: 1rem;
}
img {
  max-width: 100%;
}
/* Navigation Bar */
.header {
  width: 100%;
  padding: 0.2rem 0.5rem;
}
.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem; 
  color: white;
  border-radius: 12px;
}

.nav-helper h1 {
  margin: 0 1rem;
  font-family: "Rampart One";
}
.nav-helper {
  display: flex;
  justify-content: space-between;
}


.category-button {
  background-image: linear-gradient(45deg, rgba(59, 57, 57, 0.959), #0f293a);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

/* create product */

.product-form {
  background-image: linear-gradient(45deg, rgba(61, 53, 53, 0.863), #114b6e);
  color: white;
  padding: 1rem 1rem 1.5rem 1rem;
  min-width: 30%;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem black;
}
.product-form-container {
  padding: 1rem;
}
.product-form-image-input {
  margin-bottom: 0.5rem;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  padding-left: 0.2rem;
}
.product-form-input {
  box-sizing: border-box;
  margin: 0.2rem;
  color: #062233;
  padding: 0.5rem 1rem;
  font-weight: 600;
  min-width: 100%;
}
.text-area {
  max-width: 100%;
}
::-webkit-file-upload-button {
  background-image: linear-gradient(45deg, rgba(3, 3, 3, 0.863), #14364b);
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
}
.btn {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.863), #0e293a);
  margin-top: 0.5rem;
}

/* Manage Products */
.products-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.products-container {
  padding: 1rem 3rem;
}
.product-card {
  background-image: linear-gradient(45deg, rgba(161, 144, 144, 0.863), #50a6db);
  max-width: 60%;
  color: #062233;
  display: flex;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgb(0, 0, 0);
}
.product-photo-div {
  max-width: 30%;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}
.product-photo-div img {
  max-width: 100%;
  max-height: 100%;
}
.product-details {
  min-width: 50%;
  margin-top: 16px;
  font-weight: 400;
}
.product-detail {
  font-size: 1.1rem;
  font-weight: 400;
}
.product-property {
  font-size: 1.1rem;
  font-weight: 700;
}
.product-buttons {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-button {
  margin: 0.5rem 0;
  background-image: linear-gradient(155deg, rgba(0, 0, 0, 0.959), #0f3752);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.button {
  margin: 0 1rem;
  text-decoration: none;
  background-image: linear-gradient(45deg, rgba(27, 24, 24, 0.863), #131f27);
  color: white;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

/* Card Styling */

.home-container {
  padding: 0 1rem;

  width: 95%;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.card {
  cursor: pointer;
  background-image: linear-gradient(45deg, rgba(161, 144, 144, 0.863), #50a6db);
  color: #062233;
  break-inside: avoid-column; /* Prevent element from breaking */
  page-break-inside: avoid; /* Prevent element from breaking in Firefox */
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem black;
  text-align: center;
}
.card p {
  font-size: 1.1rem;
}
.card-name {
 text-decoration: none;
  margin: 0;
  font-weight: 700;
}
.card-price {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}
.card-image-div {
  padding: 1rem;
}
.card-image-div img {
  max-width: 100%;
}
.card-buttons {
  background-image: linear-gradient(45deg, rgba(51, 49, 49, 0.863), #1f506e);
  padding: 0.5rem 1rem;
  width: 90%;
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 0 0.5rem black;
}

.card-buttons:hover,
.button:hover,
.category-button:hover,
.product-button:hover {
  background-image: linear-gradient(45deg, rgba(31, 29, 29, 0.979), #20628b);
  color: white;
}
.container-image{
  width: 200px;
  margin: 8px auto;
}
.product-form label{
  float: left;
  margin: 0 8px;
}

.loading-div {
  margin: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-link{
  text-decoration: none;
}


/* //media quries */

@media (max-width: 1000px) {
  .product-card {
    max-width: 100%;
  }
  .product-photo-div {
    max-width: 40%;
  }
  .product-details {
    min-width: 30%;
  }
  .home-container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}
@media (max-width: 700px) {
  .home-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .product-card {
    flex-direction: column;
    padding: 1rem;
  }
  .product-photo-div {
    max-width: 100%;
  }
  .product-details{
    margin: 0 auto;
  }
  .products-container{
    padding: 1rem;
  }
}
@media (max-width: 400px) {
  .main-page {
    width: fit-content;
  }
  .helper {
    flex-direction: column;
  }
  .products-container {
    padding: 1rem;
  }
  
  .nav-helper {
    flex-direction: column;
    align-items: center;
  }
}

/* scrollBar Design */
::-webkit-scrollbar {
  background-color: #194b69;
}
::-webkit-scrollbar-thumb {
  background-color: #7ba7c2;
}
